



:root {
    --yellow_color: #faffc1;
    --blue_color: #00c1fe;
  }
  .cont{
    background-color: var(--yellow_color);
height: 100vh;
  }


.search-wrapper{
  display: flex;
}
 
.search-wrapper .search{
  border: 1px gray solid;
  border-radius: 5px;
  padding: 0 10px;
} 
 .search-wrapper .search input{
  border: none;
  outline: none;
} 
 .search-wrapper span{
  margin:  0 10px;
}

.cont_cards{
  margin: auto;
}



.cards .carditems {
  border-radius: 8px;

  width: 170px;
  height: 150px;
}
.cards {
left: 34%;
}
.carditems--blue {
  background-color: #F0F9FF;
}

.carditems--blue i {
  color: #74C1ED;
}

.carditems--rose {
  background-color: #FEF6FB;
}

.carditems--rose i {
  color: #EE95C5;
}

.carditems--yellow {
  background-color: #FEFBEC;
}

.carditems--yellow i {
  color: #00C1FE;
}

.carditems--gradient {
  background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
}

.card__items--gradient i {
  color: #FFFFFF;
}




#nbr {
  position: absolute;
  right: 10px;
  bottom: 10px;
}



.econs {
  width: 27px;
}

.econs2 {
  width: 27px;
}

.econsNav {
  margin-left: 300px;
}

.card_1 {
  position: absolute;
  width: 255px;
  height: 157px;
  left: 300px;
  top: 90px;

  background: #F0F9FF;
  border-radius: 8px;
}


li{
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
}
li:hover{
  background-color:var(--blue_color);
}
