:root {
    --yellow_color: #faffc1;
    --blue_color: #00c1fe;
    --bg:#E5E5E5;
  }
*{
    margin: 0;
    padding: 0;
}
.debut{
    border-radius: 15px 0 0 15px;
}
.fin{
    border-radius: 0 15px 15px 0;
}
.action span{
    color: var(--blue_color);
}
.cont{
    background-color: var(--yellow_color);
height: 100vh;
  }
tr{
    font-size: 9px;
    text-align: center;
    
}

.ligne{
   background-color: white;
    border: 5px var(--bg) solid;
  }
  .col2{
      background-color: var(--bg);
  }
  
.button{
    width: 200px;
    margin-left: 20px;
}
li{
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
}
li:hover{
    background-color:var(--blue_color);
}