:root{
    --yellow_color:#FAFFC1;
    --blue_color:#00C1FE;
}
.container{
    padding: 0%;
}
.cont {
  background-color: white;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}
.cont h1 {
  border-left: 5px solid var(--blue_color);
  padding-left: 10px;
  margin-left: 30px;
  font-weight: 700;
}
.cont .sign_in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.cont .sign_in h4{
    font-weight: 600;
    
}
.cont .sign_in p{
    color: #6C6C6C;
    font-weight: 400;
}

.cont .email,
.cont .password {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.cont form input {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  padding: 8px;
}
.cont form label{
  color: #6C6C6C;
  font-weight: 500;
  
}
::placeholder {
  color: #CDCDCD;
  font-size: 14px;
}
.btn_sign_in .btn {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  background-color: var(--blue_color);
}
.forget_pass {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
}
.forget_pass label {
  width: 100%;
  font-size: 13px;
}
.forget_pass a {
  width: 100%;
  color: var(--blue_color);
  font-size: 13px;
  text-decoration: underline;
}

@media screen and (min-width: 330px) {
   
  .forget_pass {
    flex-wrap: nowrap;
  }
  .cont_pass {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 450px) {
    .cont{
        border-radius: 10px;
    }
  .container {
      height: 100vh;
      width: 100%;
      background-image: linear-gradient(to right,var(--blue_color),var(--yellow_color));
    display: flex;
  align-items: center;justify-content: center;
    
    align-items: center;
  }
  .cont {
    border-radius: 17px;
      width: 400px;
  }
  
}
